**/bin
**/obj
**/.git
**/.gitignore
**/.vscode
**/.DS_Store
**/node_modules
npm-debug.log*
Dockerfile*
**/dist
**/*.user
**/*.suo
**/*.cache
**/*.lock
**/*.pid
**/*.tgz
**/*.zip
**/*.tar.gz
**/*.nupkg
